@use 'variables' as *;

.container {
  border: 0 solid rgba(184, 184, 184, 0.3);
  border-top-width: 1px;
  padding: 0.6rem 0.8rem 0.6rem 0.6rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  gap: 0.9rem;
  color: $font-color-primary;

  &:hover {
    .content {
      gog-button {
        display: block;
      }
    }
  }

  .img-wrapper {
    position: relative;
    width: 10rem;
    height: 6rem;
    flex-shrink: 0;
  }

  .price {
    color: $font-color-secondary;
  }

  .content {
    flex-grow: 1;
    overflow: hidden;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .title {
      overflow: hidden;
      min-width: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: $font-size-default;
      font-weight: $font-weight-semi-bold;
    }

    gog-button {
      align-self: flex-start;
      display: none;
    }
  }
}
