@use 'variables' as *;

$card-background: #e0e0e0;

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: $card-background;
  font-size: $font-size-default;
  line-height: 1.7rem;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  .content {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: space-between;
    padding: 1.1rem;
    gap: 0.2rem;

    .game-title {
      margin: 0;
    }

    .actions {
      display: flex;
      align-self: flex-end;
      gap: 0.6rem;
    }
  }

  img {
    width: 100%;
  }
}
