@use 'variables' as *;

:host {
  border-radius: 2px;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  padding: 0.3rem 0.6rem;

  &.success {
    background: $color-success;
    color: $color-text-on-success;
  }
}
